{% extends "base.html" %}
{% block title %}500{% endblock %}
{% block body %}
  <h1 class="my-5 ml-5">Sorry, Internal Server Error</h1>

 <!-- <a href="{{ url_for('home.index') }}" class="ml-5">主页</a> -->
{% endblock %}