{% extends "base.html" %}
{% block title %}
登录
{% endblock %}
{% block body %}
<div class="container">
    <form method="POST"
          class="my-5 ml-5 mr-5"
          action="{{ url_for('auth.login') }}">
        <div class="form-group">
            <label for="exampleInputEmail1">用户名</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            {{ form.password }}
        </div>
        <div class="form-check">
            {{ form.remember_me }}
            <label class="form-check-label"
                   for="dropdownCheck2">
                {{ form.remember_me.label }}
            </label>
        </div>
        <p class="my-4"><input type=submit
                   value="登录">
            <a href="{{ url_for('auth.register') }}"
               class="badge ml-3">注册</a>
            <a href="/"
               class="badge">返回</a>
        </p>
        <div class="dropdown-divider"></div>
        <small>
            <a class="dropdown-item text-sm-left"
               href="#"
               >Forgot password?</a>
        </small>


    </form>

</div>

{% endblock %}