{% extends "base.html" %}
{% block title %}
用户注册
{% endblock %}
{% block body %}
<div class="container">
    <form method=post
          class="my-5 ml-5 mr-5"
          action="{{ url_for('auth.register') }}">

        <div class="form-group">
            <label for="exampleInputEmail1">用户名</label>
            {{ form.username }}

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">邮箱</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            {{ form.password }}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">确认密码</label>
            {{ form.confirm }}
        </div>
        <p class="my-4"><input type=submit
                   value="注册">
            <a href="{{ url_for('auth.login') }}"
               class="badge ml-3">登录</a>
            <a href="/"
               class="badge">返回</a>
        </p>
    </form>
</div>

{% endblock %}