{% extends "base.html" %}
{% block title %}
上传图片
{% endblock %}
{% block body %}
<div class="container my-5 file-input">
    <h4 class="mb-5">上传图片</h4>
    <form method=post
          enctype=multipart/form-data>
          <div
          class="form-group">
        <input type="file"
               class="form-control-file"
               id="ImageFormControlFile1"
               name="file">
</div>
<button type="submit"
        class="btn btn-light my-3">上传</button>
</form>
</div>

{% endblock %}