{% extends "base.html" %}
{% block title %}
上传文件
{% endblock %}
{% block style %}
<style>
    .file-input {
    text-align: left;
    background: rgb(247, 247, 247);
    padding: 16px;
    position: relative;
    border-radius: 3px;
  }
  .file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }

  .file-input > .button {
    /* display: inline-block; */
    cursor: pointer;
    background: rgb(230, 230, 230);
    padding: 8px 16px;
    border-radius: 2px;
    margin-right: 8px;
  }

  .file-input:hover > .button {
    background: rgb(68, 150, 231);
    color: white;
  }
  .file-input > .label {
    color: #333;
    white-space: nowrap;
    opacity: .3;
  }
  .file-input.-chosen > .label {
    opacity: 1;
  }


</style>
{% endblock %}
{% block body %}

<div class="container">
    <div class=" card text-left my-5">
        <div class="card-body">
            <h4 class="card-title">上传文件</h4>
            <form method=post
                  enctype=multipart/form-data>
                  <p
                  class="card-text"
                  style="background:rgb(247, 247, 247);">
                <div class='file-input container-fluid'>
                    <input type='file'
                           name='file'>
                    <span class='button'>选择</span>
                    <small>
                        <span class='label text-sm-left text-truncate col-2'
                              data-js-label>未选择任何文件</label>
                    </small>
                </div>
                </p>
                <button type="submit"
                        class="btn btn-primary ml-2">
                    上传</button>
            </form>
        </div>
    </div>
    <!-- <div class=" card text-left my-5">
            <div class="card-body">
                <h4 class="card-title">上传图片</h4>
                <form method=post
                      enctype=multipart/form-data>
                      <p
                      class="card-text"
                      style="background:rgb(247, 247, 247);">
                    <div class='file-input container-fluid'>
                        <input type='file'
                               name='file'>
                        <span class='button'>选择</span>
                        <small>
                            <span class='label text-sm-left text-truncate col-2'
                                  data-js-label>未选择任何图片</label>
                        </small>
                    </div>
                    </p>
                    <button type="submit"
                            class="btn btn-primary ml-2">
                        上传</button>
                </form>
            </div>
        </div>
     -->
</div>

{% endblock %}
{% block scripts %}
<script type=text/javascript
        src="{{ url_for('static',filename='js/filechoose.js') }}"></script>
{% endblock %}